/* @import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css'); */
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

@import url('font.css');


* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  vertical-align: baseline;
  background: transparent;
  border-collapse: collapse;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  font-size: 14px;
  color: #555;
}

ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  vertical-align: top;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

dd {
  -webkit-margin-start: 0;
}

ul {
  -webkit-padding-start: 0;
  list-style-position: inside;
}

b,
span {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

br {
  line-height: inherit;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  color: inherit;
  background: transparent;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.en {
  font-family: 'Quicksand', 'Noto Sans KR', sans-serif;
  letter-spacing: 1px;
}




.clear {
  *zoom: 1;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* CHAT ==================================== */
.icon_chat {
  position: fixed;
  left: 40px;
  bottom: 40px;
  width: 60px;
  height: 60px;
  line-height: 68px;
  text-align: center;
  /* background: -webkit-gradient(linear,left top, left bottom,from(#5b83fe),color-stop(50%, #5b83fe),to(#5b5dfe));
  background: linear-gradient(to bottom,#5b83fe 0%,#5b83fe 50%,#5b5dfe 100%); */

  background: -webkit-gradient(linear, left top, left bottom, from(#ff90aa), color-stop(50%, #fb577c), to(#ff008d));
  background: linear-gradient(linear, left top, left bottom, from(#ff90aa), color-stop(50%, #fb577c), to(#ff008d));
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9;
}

.icon_chat i {
  font-size: 30px;
}

.chat_pop {
  position: fixed;
  left: 40px;
  bottom: -100%;
  width: 320px;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  box-shadow: 2px 2px 5px 0px rgba(47, 55, 64, .2);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(47, 55, 64, .2);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  opacity: 0;
  z-index: 10;
}

.chat_pop.on {
  bottom: 40px;
  opacity: 1;
}

.chat_pop .chat_top {
  position: relative;
  padding: 15px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #fb577c;
}

.chat_pop .chat_top i {
  position: absolute;
  top: 50%;
  right: 20px;
  padding: 10px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  font-size: 18px;
  cursor: pointer;
}


.chat_pop .chat_body {
  width: 100%;
  height: 550px;
  padding: 10px 13px 10px 20px;
  overflow-y: auto;

  scrollbar-face-color: #eee;
  scrollbar-shadow-color: #fff;
  scrollbar-highlight-color:#fff;
  scrollbar-3dlight-color: #fff;
  scrollbar-darkshadow-color: #fff;
  scrollbar-track-color: #fff;
  scrollbar-arrow-color: #eee;


}

.chat_pop .chat_body::-webkit-scrollbar {
  width: 7px;
}

.chat_pop .chat_body::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 30px;
}

.chat_pop .chat_body:hover::-webkit-scrollbar-thumb {
  background: #e2e2e2;
}

.chat_pop .chat_body>div {
  margin: 15px 0;
}

.chat_pop .chat_body .profile_box {
  font-size: 0;
}

.chat_pop .chat_body .profile_box>* {
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
  vertical-align: middle;
}

.chat_pop .chat_body .profile_box .profile {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  /* background: -webkit-gradient(linear,left top, left bottom,from(#4666c7),color-stop(50%, #3459cc),to(#3134ff));
  background: linear-gradient(to bottom,#4666c7 0%,#3459cc 50%,#3134ff 100%); */
  background: -webkit-gradient(linear, left top, left bottom, from(#ff90aa), color-stop(50%, #fb577c), to(#ff008d));
  background: linear-gradient(linear, left top, left bottom, from(#ff90aa), color-stop(50%, #fb577c), to(#ff008d));
}

.chat_pop .chat_body .profile_box .profile i {
  color: #fff;
}

.chat_pop .chat_body .profile_box .jeongki_name {
  font-weight: 600;
}

.chat_pop .chat_body .profile_box span {
  font-size: 10px;
  color: #959595;
}

.chat_pop .chat_body .chat_area p {
  display: inline-block;
  margin-top: 5px;
  padding: 15px;
  overflow: hidden;
  white-space: pre-line;
  word-break: break-word;
  word-wrap: break-word;
  background: #eee;
  border-radius: 0 30px 30px 30px;
}

.chat_pop .chat_body .chat_user .profile_box {
  text-align: right;

}

.chat_pop .chat_body .chat_user .chat_area {
  text-align: right;
}

.chat_pop .chat_body .chat_user .chat_area p {
  color: #fff;
  background-color: #fb577c;
  border-radius: 30px 0 30px 30px;
}


.chat_foot {
  padding: 10px;
  font-size: 0;
  border-top: 1px solid #eee;
}

.chat_foot>* {
  display: inline-block;

  vertical-align: middle;
}

.chat_foot>*:not(textarea) {
  width: 10%;
  padding: 5px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}


.chat_foot textarea {
  display: inline-block;
  width: 80%;
  height: 20px;
  min-height: 20px;
  max-height: 100px;
  line-height: 20px;
  padding: 0 10px;
  font-size: 14px;
  white-space: pre-wrap;
  overflow: hidden;
}

.chat_foot button i {
  -webkit-transition: color .3s;
  transition: color .2s;
}

.chat_foot button i.on {
  color: #fb577c;
}


.inner {
  position: relative;
  max-width: 1220px;
  margin: 0 auto;
  overflow: hidden;
}


/* HEADER ==================================== */
header {
  height: 50px;
  line-height: 50px;
  background-color: #ddecff;
}

header .logo {
  float: left;
  font-size: 22px;
  font-weight: bold;
}

header ul {
  float: right;
  font-size: 0;
}

header ul li {
  display: inline-block;
}

header ul li:first-child div {
  display: inline-block;
}

header ul li:first-child a {
  display: inline-block;
  margin-left: 10px;
}

header ul li a {
  display: block;
  margin-left: 30px;
  font-size: 16px;
}

.user-img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}




/* CONTAINER ==================================== */
.container {

}

#sidebar {
  float: right;
  width: 20%;
  min-height: 500px;
  background: #e2d3d3;
}

#content {
  float: left;
  width: 80%;
  min-height: 500px;
  background: #ccbaba;
}

.list_box > div {
  float: left;
  width: 50%;
}




/* FOOTER ==================================== */
footer {
  background: #eee;
}












@media all and (max-width:960px) {}

@media all and (max-width:768px) {}

@media all and (max-width:420px) {}

@media all and (max-width:200px) {}