/* @import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css'); */
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

@import url('font.css');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  vertical-align: baseline;
  background: transparent;
  border-collapse: collapse;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  font-size: 14px;
  color: #555;
}

ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  vertical-align: top;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

dd {
  -webkit-margin-start: 0;
}

ul {
  -webkit-padding-start: 0;
  list-style-position: inside;
}

b,
span {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

br {
  line-height: inherit;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  color: inherit;
  background: transparent;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.en {
  font-family: 'Quicksand', 'Noto Sans KR', sans-serif;
  letter-spacing: 1px;
}




.clear {
  *zoom: 1;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}


.inner {
  position: relative;
  max-width: 1220px;
  margin: 0 auto;
  overflow: hidden;
}


/* HEADER ==================================== */
header {
  height: 50px;
  line-height: 50px;
  background-color: #ddecff;
}

header .logo {
  float: left;
  font-size: 22px;
  font-weight: bold;
}

header ul {
  float: right;
  font-size: 0;
}

header ul li {
  display: inline-block;
}

header ul li:first-child div {
  display: inline-block;
}

header ul li:first-child a {
  display: inline-block;
  margin-left: 10px;
}

header ul li a {
  display: block;
  margin-left: 30px;
  font-size: 16px;
}


.user-img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}




/* CONTAINER ==================================== */
.container {
  
}

#sidebar {
  float: right;
  width: 20%;
  min-height: 500px;
  background: #e2d3d3;
}

#content {
  float: left;
  width: 80%;
  min-height: 500px;
  background: #ccbaba;
}

.list_box > div {
  float: left;
  width: 50%;
}




/* FOOTER ==================================== */
footer {
  background: #eee;
}












@media all and (max-width:960px) {}

@media all and (max-width:768px) {}

@media all and (max-width:420px) {}

@media all and (max-width:200px) {}